body{
  width: 40%;
margin: 0 auto;
margin-top: 2%;

}
.name{
  background-color: cyan;
  text-align: center;
  border: 2px solid gray;

}

h1{
  text-align: center;
  color: blue;
  font-style: italic;
  color: brown;
  font-style: italic;
}
